<div class="container login col-xs-4 col-xs-offset-9">
    
        <div ng-show="error" class="notification is-danger">
            {{error}}
        </div>
        <input type="text" class="form-control form-spacing col-xs-9" placeholder="Username" ng-model="username" required autofocus>
        <input type="password" class="form-control form-spacing col-xs-9" placeholder="Password" ng-model="password" required>
        <a class="btn btn-lg btn-primary col-xs-9" ng-click="login()">Login</a>
        
    
</div>

