<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Available Chores: </h1>
    <div class="container">
       <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3">
            <div class="panel">
                <div class="panel-heading">{{CHORE TITTLE GOES HERE}}</div>
                <div class="panel-body">{{DESCRIPTION GOES HERE}}</div>
                <div class="panel-footer">POINTS: {{POINTS GO HERE}}</div>
                <div>
                    <button class="btn btn-warning">DO CHORE!</button>
                </div>
            </div>
        </div>
       
    </div>
   
</body>
</html>