<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Available Chores: </h1>
    <div class="container">
       <div ng-repeat="chore in chores">
       <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-xs-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{chore.ChoreName}}</h3>
                </div>
                <div class="panel-body">
                    <p>Start Date: {{chore.StartDate}}</p>
                    <p>Completed: {{chore.CompletedDate}}</p>
                    <p><div class="well well-sm">Points: {{chore.PointsAssigned}}</div></p>
                    <button type="button" ng-click="doChore(chore.Id)" class="btn btn-warning">DO CHORE</button>
                    <button type="button" ng-click="deleteChore(chore.Id)" class="btn btn-danger">DELETE</button>
                </div>
                
            </div>
          
        </div>
       </div>
     </div>
   
</body>
</html>